<mat-toolbar color="primary">
  <a routerLink="/" style="text-decoration-line: none;">
    <div class="logo">
          <div class="logo__rc">
            <span class="logo__r">R</span>
            <span class="logo__aitor">aitor</span>
            <span class="logo__stick">|</span>
            <span class="logo__c">C</span>
            <span class="logo__ours">ours</span>
          </div>
    </div>
  </a>
  <span class="spacer"></span>
  <div>
    <span><a routerLink="/login" class="login">Login</a></span>
    <a routerLink="/register" class="register"><span>Register</span></a>
  </div>
</mat-toolbar>
